APP_ENV=production
ALLOWED_ORIGIN=https://php-signup-app.jacobotana96.workers.dev

# Supabase Configurations
SUPABASE_URL=https://dvgusfkbjspukmcjzsqg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-super-secret-service-role-key
SUPABASE_DB_HOST=db.dvgusfkbjspukmcjzsqg.supabase.co
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PORT=5432
SUPABASE_DB_PASSWORD=9ZlSZ8306QdQPjUi

# SMTP Settings
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USER=postmaster@yourdomain.com
SMTP_PASS=your_smtp_password
ADMIN_EMAIL=admin@yourdomain.com